In [1]:
#program to check if a given string is palindrome or not
#program that converts a given number of a minutes into hours
#program to count the number of vowels given in a strings
#program to check if a given number is prime or not
#create a loop that print the first ten whole numbers
#generate fibanocis series upto the given number
#program to print multiplication table of a given number
#given a list of word write a python program to cunt the number of words with more than 5 characters
#program to find the sum of first ten natural numbers
#program to calculate area of all types of triangle

In [2]:
#program to check if a given string is palindrome or not
pl='A man a plan a canal Panama'
pl=pl.replace(" ","").lower()
if pl==pl[::-1]:
    print(pl,'is palindrome')
else:
    print(pl,'is not palindrome')

amanaplanacanalpanama is palindrome

In [1]:
#program that converts a given number of a minutes into hours
minutes =620
hours = minutes // 60
remaining_minutes = minutes % 60
print(hours,'hours',remaining_minutes,'minutes')

10 hours 20 minutes

In [3]:
#program to count the number of vowels given in a strings
ks='this is a string'
vowels = "aeiouAEIOU"
vowel_count = 0
for char in ks:
    if char in vowels:
        vowel_count += 1
print("Number of vowels:", vowel_count)

Number of vowels: 4

In [6]:
#program to check if a given number is prime or not
num =7
if num <= 1:
    print(f"{num} is not a prime number.")
else:
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break

    if is_prime:
        print(f"{num} is a prime number.")
    else:
        print(f"{num} is not a prime number.")

7 is a prime number.

In [7]:
#create a loop that print the first ten whole numbers
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
#generate fibanocis series upto the given number
n=20
a, b = 0, 1
print("Fibonacci series up to", n, "is:")
while a <= n:
    print(a, end=" ")
    a, b = b, a + b

Fibonacci series up to 20 is:
0 1 1 2 3 5 8 13

In [11]:
#program to print multiplication table of a given number
num =3
print(f"Multiplication table of {num}:")
for i in range(1, 11):  # Loop from 1 to 10
    print(f"{num} x {i} = {num * i}")

Multiplication table of 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [13]:
#given a list of word write a python program to cunt the number of words with more than 5 characters
words = ["apple", "banana", "grape", "strawberry", "kiwi", "orange", "pineapple"]
count = 0
for word in words:
    if len(word) > 5:  # Check if the word has more than 5 characters
        count += 1
        print(word)
print("Number of words with more than 5 characters:", count)

banana
strawberry
orange
pineapple
Number of words with more than 5 characters: 4

In [22]:
#program to find the sum of first ten natural numbers
n=10
sum_of_numbers = n * (n + 1) // 2
print(sum_of_numbers)

55

In [15]:
#program to calculate area of all types of triangle
base=12
height=12
area=0.5*base*height
print(area)

72.0