#Set
* A set is a data collection type used in Python for storing multiple items in a single variable.
* Sets in Python are unordered and, as such, are not always consistent in the order they get returned.
* Furthermore, items in the set are immutable — ie. cannot be changed.
* However, items can be added and removed.
* Duplicates are not permitted with Python data sets and will be removed.
* It is also noteworthy that the Python set supports any data type — including numbers, strings, and booleans — but also has some support for nested data structures.

In [2]:
#empty set
set1 = set()
print(type(set1))

<class 'set'>

In [3]:
#creating a set with elements
set2 = {1,2,3,4,5}
print(set2)

{1, 2, 3, 4, 5}

In [12]:
set3 = {1,2,3,4,5,5}
print(set3)

{1, 2, 3, 4, 5}

In [13]:
set4 = {"a","b","c","d","e"}
print(set4)

{'b', 'c', 'e', 'a', 'd'}

In [4]:
#converting a list into set
list1 = [1,2,3,4,5]
set3 = set(list1)
print(set3)

{1, 2, 3, 4, 5}

In [5]:
#using add() method
set3.add(6)
print(set3)

{1, 2, 3, 4, 5, 6}

In [6]:
#remove method
set3.remove(6)
print(set3)

{1, 2, 3, 4, 5}

#Set Operations

#1. Set Union
The union of two sets is the set of all the elements of both the sets without duplicates. You can use the union() method or the | syntax to find the union of a Python set.

In [8]:
#union of set
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8}

#2. Set Intersection
The intersection of two sets is the set of all the common elements of both the sets. You can use the intersection() method of the & operator to find the intersection of a Python set.

In [9]:
#intersection of set
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set1.intersection(set2)

{4, 5}

#3. Set Difference
The difference between two sets is the set of all the elements in first set that are not present in the second set. You would use the difference() method or the - operator to achieve this in Python.

In [10]:
#difference of set
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set1.difference(set2)

{1, 2, 3}

#4. Set Symmetric Difference
* The symmetric difference between two sets is the set of all the elements that are either in the first set or the second set but not in both.

* You have the choice of using either the symmetric_difference() method or the ^ operator to do this in Python

In [11]:
#symmetric difference
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set1.symmetric_difference(set2)

{1, 2, 3, 6, 7, 8}